@page "/profData/create"
@inject HttpClient _client
@inject NavigationManager _navManager

<h3>CreateProfData</h3>

<br />

<EditForm Model="@profData" OnValidSubmit="CreateProfileData">
	<DataAnnotationsValidator />
	<ValidationSummary />

	<div class="form-group">
		<label>Gender: </label>
		<div>
			<InputText @bind-Value="@profData.Gender" class="form-control" />
			<ValidationMessage For="@(()=>profData.Gender)" />
		</div>
	</div>
	<div class="form-group">
		<label>Weight: </label>
		<div>
			<InputNumber @bind-Value="@profData.Weight" class="form-control" />
			<ValidationMessage For="@(()=>profData.Weight)" />
		</div>
	</div>
	<div class="form-group">
		<label>Diet Restriction: </label>
		<div>
			<InputSelect @bind-Value="@profData.DietRestriction" class="form-control">
				<option value="">-- Select Restriction --</option>
				<option value="">Muslim</option>
				<option value="">Buddhist</option>
			</InputSelect>
			<ValidationMessage For="@(()=>profData.DietRestriction)" />
		</div>
	</div>

</EditForm>

@code {
	ProfileData profData = new ProfileData();

	private async Task CreateProfileData()
	{
		await _client.PostAsJsonAsync(Endpoints.ProfileDatasEndpoint, profData);
		_navManager.NavigateTo("/startupinit/");
	}

}
