<EditForm Model="@profData" OnValidSubmit="@OnValidSubmit">
	<DataAnnotationsValidator />
	<ValidationSummary />

	<fieldset disabled="@Disabled">
		<div class="form-group">
			<label>Gender: </label>
			<div>
				<InputSelect @bind-Value="@profData.Gender" class="form-control">
					<option value="">-- Select Restriction --</option>
					<option value="@profData.Gender">Male</option>
					<option value="@profData.Gender">Female</option>
				</InputSelect>
				<ValidationMessage For="@(()=>profData.Gender)" />
			</div>
		</div>
	</fieldset>
	<fieldset disabled="@Disabled">
		<div class="form-group">
			<label>Weight: </label>
			<div>
				<InputNumber @bind-Value="@profData.Weight" class="form-control" />
				<ValidationMessage For="@(()=>profData.Weight)" />
			</div>
		</div>
	</fieldset>
	<fieldset disabled="@Disabled">
		<div class="form-group">
			<label>Diet Restriction: </label>
			<div>
				<InputSelect @bind-Value="@profData.DietRestriction" class="form-control">
					<option value="">-- Select Restriction --</option>
					<option value="@profData.DietRestriction">Muslim</option>
					<option value="@profData.DietRestriction">Buddhist</option>
				</InputSelect>
				<ValidationMessage For="@(()=>profData.DietRestriction)" />
			</div>
		</div>
	</fieldset>

	@if (!Disabled)
	{
		<button type="submit" class="btn btn-success btn-block">
			@ButtonText
		</button>
	}
	<BackToList Target="profileDatas" />
</EditForm>


@code {
	[Parameter] public bool Disabled { get; set; } = false;
	[Parameter] public ProfileData profData { get; set; }
	[Parameter] public string ButtonText { get; set; } = "Save";
	[Parameter] public EventCallback OnValidSubmit { get; set; }
}
